@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<BulkyBook1Web.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager!=null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<html>
<div class="container" id="categoriesTemp">
    <div class="row">
        <div class="col-6">
            <h1 class="text-primary">Category Temp</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="CategoriesTemp" asp-action="Create">
                <i class="bi bi-journal-plus"></i> Create</a>
            <form class="d-flex ">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <br/>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDataTime)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.DisplayOder)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.CreatedDataTime)
            </td>
            <td width="5%">
                <div class=" btn-group" role="group">
                    <a >
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success"> Edit</a>
                    </a>
                    <a >
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info "> Detail </a>
                    </a>
                    <a >
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"> Delete</a>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end ">
             @if (pager.CurrentPage>1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="CategoriesTemp" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="CategoriesTemp" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }
            
             @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="CategoriesTemp" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="CategoriesTemp" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li >
                    <a class="page-link" asp-controller="CategoriesTemp" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
</html>
